body{
  margin: 0;
}
.header{
  background: #FFFFFF;
  /* Shadow / Medium */
  
  box-shadow: 0px 2px 6px rgba(45, 40, 94, 0.06);
}
.header-wrap{
  display: flex;
  justify-content: space-between;
  width: 97%;
  height: 64px;
  align-items: center;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 150% */


  color: #1E99C7;

  mix-blend-mode: normal;
}
.header-tittle{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #353942;
  mix-blend-mode: normal;
}
.header-main-tabs{
  display: flex;
  justify-content: space-between;
  width: 86.3%;
  align-items: center;
}
.header-tabs{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  width: 60%;
}
.header-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}
.header-button{
  border: 1px solid #1E99C7;
  box-sizing: border-box;
  border-radius: 3px;
  width: 91px;
  height: 34px;
  cursor: pointer;
  background: white;
}
.header-tabs__close{
  display: none;
}
.main-content{
  display: flex;
  background-color: #eeeeee;
  width: 100%;
}
.wrap{
  width: 98%;
  max-width: 1900px;
  display: flex;
  justify-content: space-between;
  height: 1000px;
  margin: 0 auto;
  margin-top: 20px;
}
.matches{
  display: flex;
  flex-direction: column;
  width: 86.8%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #1E99C7;
  mix-blend-mode: normal;
}
.matches-content{
  margin-top: 14px;
}
.content{
  background-color: #FFFFFF;
  padding: 12px 10px;
}
.tabs{
  /* White */
  padding: 5px 15px;
  background: #FFFFFF;
  /* Border / Bottom */
  box-shadow: 0px 1px 0px #ECECEE;
  border-radius: 3px;
}
.main-content-tabs{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 47px;
}
.side-bar{
  width: 12%;
}
.side-bar-block{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 333px;
  height: 320px;
  background: #353942;
  box-shadow: 0px 2px 6px rgba(45, 40, 94, 0.06);
  border-radius: 3px;
  margin-bottom: 10px;
}
.tabs-left{
  display: flex;
  justify-content: space-between;
  width: 20%;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: rgba(45, 40, 94, 0.56);
  mix-blend-mode: normal;
}
.header-tab{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #1E99C7;
  mix-blend-mode: normal;
  text-decoration: none;
}
.tab{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #1E99C7;
  mix-blend-mode: normal;
  text-decoration: none;
}
.active{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  height: 39px;
  color: black;
  border-bottom: 3px solid #1E99C7;
  border-radius: 2px 0px 0px 2px;
  padding-top: 16px;
}
.quantity-of-data{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  margin-left: 6px;
  line-height: 24px;
  color: rgba(45, 40, 94, 0.56);
  mix-blend-mode: normal;
}
.list-of-matches{
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.all-leagues{
  display: flex;
  flex-direction: column;
}
.content-block{
  margin-bottom: 35px;
}
.block__country-and-cup-name{
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(53, 57, 66, 0.25);
}
.block__list-of-matches{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sidebar-country{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  cursor: pointer;
}
.side-bar-my-leagues{
  padding: 12px 14px;
}
.side-bar-tittle{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  line-height: 24px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  border-bottom: 1px #FFFFFF solid;
  padding-bottom: 20px;
}
.sidebar-leagues-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
}
.cupname-and-delete{
  display: flex;
  justify-content: space-between;
  width: 60%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.league-tittle{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #353942;
  mix-blend-mode: normal;
}
.flag-and-tittle{
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(53, 57, 66, 0.25);
  margin-bottom: 8px;
  color: #353942;
  font-weight: 600;
  padding-bottom: 8px;
}
.flag-and-tittle__league-tittle{
  margin-left: 35px;
}
.league-block{
  margin-bottom: 30px;
}
.matches-list{
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 19px;
}
.matches-list__time{
  width: 5%;
}
.matches-list__name{
  border-left: 1px solid rgba(53, 57, 66, 0.25);
  padding-left: 16px;
  width: 60%;
}
.matches-list__score{
  display: flex;
  width: 10%;
}
.matches-list__favorite{
  width: 3%;
}
.matches-list__status{
  border-left: 1px solid rgba(53, 57, 66, 0.25);
  padding-left: 16px;
  width: 30%;
}
.matches-list__link{
  border-left: 1px solid rgba(53, 57, 66, 0.25);
  padding-left: 16px;
  width: 20%;
}
.matches-list__link a{
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #1E99C7;
  mix-blend-mode: normal;
}
.header-menu{
  display: none;
}
.flag-and-tittle__league-tittle {
  margin-left: 7px;
}
.flag-and-tittle__league-flag{
  width: 27px;
  height: 16px;
}
.calendar-and-date{
  display: flex;
  justify-content: space-between;
  width: 9%;
}
.mobile-menu{
  display: none;
}

@media (min-width: 320px) and (max-width: 600px) {
  .wrap{
    height: auto;
  }
  .side-bar{
    display: none;
  }
  .header{
    width: 100%;
  }
  .header-wrap{
    margin: 0 auto;
  }
  .header-tabs{
    display: none;
  }
  .header-logo{
    display: none;
  }
  .header-menu{
    display: block;
  }
  .header-right__login{
    margin-left: 14px;
  }
  .header-main-tabs{
    width: 64%;
  }
  .header-tabs__close{
    display: flex;
    position: absolute;
    font-size: 2em;
    left: 77.19%;
    right: 18.12%;
    top: 2.06%;
    bottom: 96.12%;
  }
  .header-tabs__live{
    margin-bottom: 11px;
  }
  .header-tabs__shedule{
    margin-bottom: 11px;
  }
  .header-tabs__predictions{
    margin-bottom: 11px;
  }
  .header-tabs__results{
    margin-bottom: 11px;
  }
  .header-tab{
    display: none;
  }
  .tabs-left{
    width: 100%;
  }
  .main-content-tabs{
    justify-content: space-around;
  }
  .matches-list__status{
    display: none;
  }
  .matches-list__link{
    display: none;
  }
  .date{
    display: none;
  }
  .mobile-menu{
    display: flex;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    justify-content: space-between;
    border-bottom: 1px solid white;
    font-size: 16px;
    padding-bottom: 11px;
    margin-bottom: 25px;
  }
  .matches{
    margin: 0 auto;
  }
  .matches-list{
    width: 90%;
  }
  .matches-list__time{
    width: 20%;
  }
  .matches-list__name{
    width: 40%;
  }
  .matches-list__score{
    display: flex;
    width: 30%;
  }
  .active{
    display: flex;
    font-size: 12px;
  }
  .quantity-of-data{
    margin-left: 5px;
  }
  .matches-list__favorite{
    width: 0;
  }
  .tab div{
    display: flex;
    font-size: 12px;
    font-size: 12px;
    width: 78px;
    justify-content: space-around;
  }
  .openned-header-tabs{
    background: #353942;
    box-shadow: 0px 2px 6px rgba(45, 40, 94, 0.06);
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    max-width: 230px;
    height: auto;
    left: 0%;
    padding: 14px 19px;
    right: 12.5%;
    top: 0%;
    bottom: 0%;
    position: absolute;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
  }
  .tab{
    font-size: 13px;
  }
}